[submodule "external/libsodium"]
	path = external/libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "external/libuv"]
	path = external/libuv
	url = https://github.com/libuv/libuv.git
